<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Custom Search Engine (CSE) in Node.js with Google APIs">
  <meta name="keywords" content="cse, googleapis, node.js, custom search engine, google api, heroku, herokuapp">

  <title><%= title %></title>

  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  
  <link href="//fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/loader.css">
  <link rel='stylesheet' href="/stylesheets/style.css">
  <link rel='stylesheet' href="/stylesheets/autoacomplete.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  

  
  <div class="wrap-search">
    
    <input autocomplete="off" type="text" placeholder="Input your key search here..." id="input-search">
    <img src="/images/search.png" alt="Search" class="search" id="img-search">
    <img src="/images/close.png" alt="Close" class="close" id="img-close">
    
    
  </div>




  <a href="/" ><img src="/images/cse.png" alt="" class="logo" id="logo-outside"></a>


  
  <div class="wrap-recommend">


       

        <ul id="recommend">

            </ul>
          

            

      
  </div> 







  <div class="wrap-content">
    <ul id="results" />
  </div>

  
  <div class="wrap-recommendkey">

    <ul id="recommendkey">
</ul>
       
          

            

      
  </div> 




  <div class="page" id="pagination">
    <button class="prev" id="btn-prev">Previous</button>
    <button class="next" id="btn-next">Next</button>
  </div>
  
  <div id="loader" style="color: #eb1a58" class="la-ball-climbing-dot la-3x loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div id="input-searchautocomplete-list" class="autocomplete-items"></div>

  <img src="/images/cse.png" alt="Fshare Search" class="cse" id="img-cse">
  <script src="/javascripts/autocomplete.js"></script>

  <span style="display: none;" id="key_value"><%= JSON.stringify(keysearch) %></span>
  <script>
    $( document ).ready(function() {
      var key = $('#key_value').html(); 
      //key = unescape(key);
      key = JSON.parse(key);
      autocomplete(document.getElementById("input-search"), key );
    });
  </script>
  <script src="/javascripts/main.js"></script>

    
    



  
</body>
</html>
