body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	margin: auto;
	width: 95%;
	padding-top: 30px;
	padding-bottom: 30px;
}

a {
	color: #001a8d;
	text-decoration: none;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

.wrap-search {
	position: relative;
	
}
.wrap-search input {
	position: relative;
	box-sizing : border-box;
	width: 70%;
	z-index: 0;
	display: inline-block;
	padding: 8px 130px;
	border-radius: 50px;
	border: 2px solid rgb(88, 88, 88);
	outline: none;
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
	margin-top: 25%;
	margin-left: 15%;
}


.wrap-search img {
	position: absolute;
	top: 96%;
	right: 16%;
	transform: translate(0, -50%);
	width: 20px;
	height: 20px;
	cursor: pointer;
	/* margin-top: 25px; */


}
.wrap-search img.close {
	right: 17.5%;
	display: none;
}

.wrap-search-inresult {
	position: relative;
	display: none;
	
}
.wrap-search-inresult input {
	position: relative;
	box-sizing : border-box;
	width: 89%;
	float: right;
	padding: 8px 20px;
	border-radius: 50px;
	border: 2px solid rgb(88, 88, 88);
	outline: none;
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
	
}


.wrap-search-inresult img {
	position: absolute;
	top: 5%;
	right: 3.5%;
	transform: translate(0, -50%);
	width: 20px;
	height: 20px;
	cursor: pointer;
	/* margin-top: 25px; */


}
.wrap-search-inresult img.close {
	right: 17.5%;
	display: none;
}



.wrap-content ul {
	padding-left: 10px;
	padding-right: 10px;	
	width: 50%;
	float: left;
	margin-left: 11%;				
}
.wrap-content li.total {
	color: rgb(88, 88, 88);
	/* margin-top: 10px; */
}
.wrap-content li.item {
	margin-top: 25px;
	
}
.wrap-content li.item a.title {
	font-weight: 900;
}
.wrap-content li.item div.snippet {
	margin-top: 5px;
	margin-bottom: 15px;
}
.wrap-content li.item img {
	width: 90px;
	height: 90px;
}

.wrap-content a:hover {
	text-decoration: underline;
  }

.wrap-recommend ul {
	padding-left: 20px;
	padding-right: 20px;
	width: 30%;
	float: right;
	/* margin-top: 2%; */
}
.wrap-recommend li.total {
	color: rgb(88, 88, 88);
	margin-top: 20px;
	
}

.wrap-recommend p.hotlink {
	color: rgb(221, 14, 14);
	margin-top: 30px;
	text-align:center;	
	font-size: 18px;
	float: right;
	width: 89%;
	
	
}

.wrap-recommend li.item {
	margin-top: 25px;
	
}
.wrap-recommend li.item a.title {
	font-weight: 900;
}
.wrap-recommend li.item div.snippet {
	margin-top: 5px;
	margin-bottom: 15px;
}
.wrap-recommend li.item img {
	width: 90px;
	height: 90px;
}

.wrap-recommend a {
	color: #497e99;
	text-decoration: none;
}

.wrap-recommend a:hover {
	text-decoration: underline;
  }

.wrap-recommendkey ul {
	padding-left: 20px;
	padding-right: 20px;
	width: 30%;
	float: right;
	/* margin-top: 2%; */
	/* margin-left: 10%;	 */
}
	

.wrap-recommendkey li.total {
	color: rgb(88, 88, 88);
	margin-top: 20px;
}
.wrap-recommendkey li.item {
	margin-top: 25px;
	
}
.wrap-recommendkey li.item a.title {
	font-weight: 900;
}
.wrap-recommendkey li.item div.snippet {
	margin-top: 5px;
	margin-bottom: 15px;
}
.wrap-recommendkey li.item img {
	width: 90px;
	height: 90px;
}

.wrap-recommendkey a {
	color: #497e99;
	text-decoration: none;	
}

.wrap-recommendkey a:hover {
	text-decoration: underline;
}

.margrin-top-cus{
	margin-top: 40px;
}

.loader, img.cse {
	position: fixed;
	left: 50%;
	top: 50%;
	display: none;
	transform: translate(-50%, -50%);
}
img.cse {
	/* display:block; */
	width: 30%;
}

img.logo {
	position: fixed;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	width: 25%;

}

.page {
	margin-top: 50px;
	text-align: center;
	display: none;
	width: 55%;
	float: left;
	margin-left: 11%;	
}
.page button {
	background-color: #cd1417;
	color: white;
	outline: none ;
	border: none ;
	padding: 10px 25px;
	text-align: center;
	border-radius: 30px;
	cursor: pointer;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	margin: 10px;
}
.page button.disabled {
	background-color: #5f5f5f;
	cursor: not-allowed;
	color: rgb(231, 231, 231);
}



@media only screen and (max-width: 768px) {
	body {
		width: 96%
	}
}

.dropdown {
	margin: 0 20px;
	vertical-align: top;
  }
  
  .dropdown {
	display: inline-block;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	height: 39px;
	width: 6%;
	background: #ffffff;
	/* padding: 8px 20px; */
	border-radius: 50px;
	border: 2px solid rgb(88, 88, 88);
	outline: none;
	font-size: 15px;
	/* background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); */
	margin-top: 25%;
	margin-left: 15%;
  }
  
  .dropdown:before, .dropdown:after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 9px;
	right: 10px;
	width: 0;
	height: 0;
	border: 4px dashed;
	border-color: #888888 transparent;
	pointer-events: none;
  }
  
  .dropdown:before {
	border-bottom-style: solid;
	border-top: none;
  }
  
  .dropdown:after {
	margin-top: 7px;
	border-top-style: solid;
	border-bottom: none;
  }
  
  .dropdown-select {
	position: relative;
	width: 130%;
	margin: 0;
	padding: 6px 8px 6px 10px;
	height: 38px;
	line-height: 14px;
	font-size: 12px;
	color: #62717a;
	text-shadow: 0 1px white;
	background: #ffffff; /* Fallback for IE 8 */
	background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
  }
  
  .dropdown-select:focus {
	z-index: 3;
	width: 100%;
	color: #394349;
	outline: 2px solid #49aff2;
	outline: 2px solid -webkit-focus-ring-color;
	outline-offset: -2px;
  }
  
  .dropdown-select > option {
	margin: 3px;
	padding: 6px 8px;
	text-shadow: none;
	background: #f2f2f2;
	border-radius: 3px;
	cursor: pointer;
  }
  
  /* Fix for IE 8 putting the arrows behind the select element. */
  
  .lt-ie9 .dropdown {
	z-index: 1;
  }
  
  .lt-ie9 .dropdown-select {
	z-index: -1;
  }
  
  .lt-ie9 .dropdown-select:focus {
	z-index: 3;
  }
  
  /* Dirty fix for Firefox adding padding where it shouldn't. */
  
  @-moz-document url-prefix() {
	.dropdown-select {
	  padding-left: 6px;
	}
  }
  
  .dropdown-dark {
	background: #444;
	border-color: #111111 #0a0a0a black;
	background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
	background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
	background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-dark:before {
	border-bottom-color: rgb(247, 247, 247);
  }
  
  .dropdown-dark:after {
	border-top-color: rgb(255, 255, 255);
  }
  
  .dropdown-dark .dropdown-select {
	color: #aaa;
	text-shadow: 0 1px black;
	background: #444;  /* Fallback for IE 8 */
  }
  
  .dropdown-dark .dropdown-select:focus {
	color: #ccc;
  }
  
  .dropdown-dark .dropdown-select > option {
	background: #444;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  }
